name: Sync Notion Bugs to GH
on:
  [push]
  # schedule:
  #   - cron: "0 0 * * *" # At the end of every day
jobs:
  Sync-Notion-Bugs-To-GH:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Call Notion API and create issues
        uses: ./.github/actions/notion-to-gh-issues
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          notionApiToken: ${{ secrets.NOTION_API_KEY }}
          notionDbId: 3625b79f1d2c42d39ecf1bc96ecd1ebc
          tagColumnName: Tag
          tagValue: Bug
